<!-- Navigation Bar -->
<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
	<a class="navbar-brand text-primary" href="/">PolyChrome</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class='nav-item $(get(nav_setting, :home_active, ""))'>
				<a class="nav-link" href="/home">Home</a>
			</li>
			<li class='nav-item $(get(nav_setting, :new_active, ""))'>
				<a class="nav-link" href="/new_analysis">New Analysis</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					Dropdown
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
			</li>
		</ul>

		<%
          if get(nav_setting, :user, "") != ""
            """
            <span class="navbar-text mr-sm-2">
              <button class="btn btn-sm btn-light" disabled>Hello, $(get(nav_setting, :user, "User"))!</button>
            </span>
            <span class="navbar-text">
              <a class="btn btn-sm btn-outline-dark" href="/logout" role="button">Log out</a>
            </span>
            """
          else
            """
            <span class="navbar-text">
              <a class="btn btn-sm btn-link" href="/login" role="button">Log in</a>
            </span>
            <span class="navbar-text">
              <a class="btn btn-sm btn-outline-dark" href="/register" role="button">Register</a>
            </span>
            """
          end
        %>

	</div>
</nav>
<div class="mb-3"></div>
