<!-- 
If one html does not use Stipple, they should contain those styles by adding the following code 
<% partial("app/layouts/stipple_styles.jl.html", nav_setting = nav_setting) %>
-->
<link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&amp;display=swap" rel="stylesheet">
<link href="/css/stipple/stipplecore.min.css" rel="stylesheet">
<!-- <script src="/js/stipple/underscore-min.js"></script> -->
<!-- <script src="/js/stipple/vue.js"></script> -->
<!-- <script src="/js/stipple/stipplecore.js"></script> -->
<!-- <script src="/js/stipple/vue_filters.js"></script> -->